<article id="post-226" class="post-226 post type-post status-draft format-standard hentry category-uncategorized" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <h1 class="post-title" itemprop="name">Elementor #226</h1>
    <div class="row post-meta align-items-center">
        <div class="col author vcard">
            <span class="published updated" itemprop="datePublished" pubdate="">junho 16, 2019</span>Escrito por <a class="url fn" href="http://mteixeira.hospedagemdesites.ws/tutorialWP/author/admin/" title="View all posts by admin_dev">admin_dev</a>
        </div>
        <!-- .col .author .vcard -->
        <div class="col comment-count">
            <svg class="icon icon-comment" aria-hidden="true" role="img">
                <use xlink:href="http://mteixeira.hospedagemdesites.ws/tutorialWP/wp-content/themes/evolve/assets/images/icons.svg#icon-comment"></use>
            </svg>
            <a href="http://mteixeira.hospedagemdesites.ws/tutorialWP/?p=226#respond">Deixe seu comentário</a>
        </div>
        <!-- .col .comment-count -->
    </div>
    <!-- .row .post-meta .align-items-top -->
    <div class="post-content" itemprop="mainContentOfPage">
        <div data-elementor-type="post" data-elementor-id="226" class="elementor elementor-226" data-elementor-settings="[]">
            <div class="elementor-inner">
                <div class="elementor-section-wrap">

                    <section class="elementor-element elementor-element-da2fd48 elementor-section-full_width elementor-section-height-min-height elementor-section-items-stretch elementor-section-height-default elementor-section elementor-top-section" data-id="da2fd48" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">

                                <div class="elementor-element elementor-element-b3e8305 elementor-column elementor-col-25 elementor-top-column" data-id="b3e8305" data-element_type="column">
                                    <div class="elementor-column-wrap  elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <section class="elementor-element elementor-element-66bbd14 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="66bbd14" data-element_type="section">
                                                <div class="elementor-container elementor-column-gap-narrow">
                                                    <div class="elementor-row">
                                                        <div class="elementor-element elementor-element-95b5bfd elementor-column elementor-col-33 elementor-inner-column" data-id="95b5bfd" data-element_type="column">
                                                            <div class="elementor-column-wrap  elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-453ba7d elementor-widget elementor-widget-text-editor" data-id="453ba7d" data-element_type="widget" data-widget_type="text-editor.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                                <p><span style="font-size: 1rem;">Status</span></p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-element elementor-element-f6ff200 elementor-column elementor-col-66 elementor-inner-column" data-id="f6ff200" data-element_type="column">
                                                            <div class="elementor-column-wrap  elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-8061057 elementor-widget elementor-widget-text-editor" data-id="8061057" data-element_type="widget" data-widget_type="text-editor.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                                <p><span style="color: #000000;">Em Processo</span></p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <section class="elementor-element elementor-element-c6dd5e4 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="c6dd5e4" data-element_type="section">
                                                <div class="elementor-container elementor-column-gap-narrow">
                                                    <div class="elementor-row">
                                                        <div class="elementor-element elementor-element-302a570 elementor-column elementor-col-33 elementor-inner-column" data-id="302a570" data-element_type="column">
                                                            <div class="elementor-column-wrap  elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-ee9c7e3 elementor-widget elementor-widget-text-editor" data-id="ee9c7e3" data-element_type="widget" data-widget_type="text-editor.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                                <p>Tipo</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-element elementor-element-f44ab45 elementor-column elementor-col-66 elementor-inner-column" data-id="f44ab45" data-element_type="column">
                                                            <div class="elementor-column-wrap  elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-ae6be36 elementor-widget elementor-widget-text-editor" data-id="ae6be36" data-element_type="widget" data-widget_type="text-editor.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                                <p><span style="color: #000000;">Criacao</span></p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <section class="elementor-element elementor-element-dd644d8 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="dd644d8" data-element_type="section">
                                                <div class="elementor-container elementor-column-gap-narrow">
                                                    <div class="elementor-row">
                                                        <div class="elementor-element elementor-element-983269e elementor-column elementor-col-33 elementor-inner-column" data-id="983269e" data-element_type="column">
                                                            <div class="elementor-column-wrap  elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-1234c0a elementor-widget elementor-widget-text-editor" data-id="1234c0a" data-element_type="widget" data-widget_type="text-editor.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                                <p>Cliente</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-element elementor-element-6a02e1c elementor-column elementor-col-66 elementor-inner-column" data-id="6a02e1c" data-element_type="column">
                                                            <div class="elementor-column-wrap  elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-dcb0114 elementor-widget elementor-widget-text-editor" data-id="dcb0114" data-element_type="widget" data-widget_type="text-editor.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                                <p><span style="color: #000000;">Cliente A&gt; Projeto B</span></p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <section class="elementor-element elementor-element-acc883e elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="acc883e" data-element_type="section">
                                                <div class="elementor-container elementor-column-gap-narrow">
                                                    <div class="elementor-row">
                                                        <div class="elementor-element elementor-element-dc88599 elementor-column elementor-col-33 elementor-inner-column" data-id="dc88599" data-element_type="column">
                                                            <div class="elementor-column-wrap  elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-b2687d8 elementor-widget elementor-widget-text-editor" data-id="b2687d8" data-element_type="widget" data-widget_type="text-editor.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                                <p>Tags</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-element elementor-element-c73424e elementor-column elementor-col-66 elementor-inner-column" data-id="c73424e" data-element_type="column">
                                                            <div class="elementor-column-wrap  elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-fd81a00 elementor-widget elementor-widget-text-editor" data-id="fd81a00" data-element_type="widget" data-widget_type="text-editor.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                                <p><span style="color: #000000;">Nenhuma</span></p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-72bae24 elementor-column elementor-col-25 elementor-top-column" data-id="72bae24" data-element_type="column">
                                    <div class="elementor-column-wrap  elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-e72dbe5 elementor-widget elementor-widget-heading" data-id="e72dbe5" data-element_type="widget" data-widget_type="heading.default">
                                                <div class="elementor-widget-container">
                                                    <h6 class="elementor-heading-title elementor-size-default">Esforço Estimado</h6>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-0291b6c elementor-widget elementor-widget-text-editor" data-id="0291b6c" data-element_type="widget" data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-text-editor elementor-clearfix">
                                                        <p><strong>20:00</strong></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-66be5d4 elementor-column elementor-col-25 elementor-top-column" data-id="66be5d4" data-element_type="column">
                                    <div class="elementor-column-wrap">
                                        <div class="elementor-widget-wrap">
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-f93a35d elementor-column elementor-col-25 elementor-top-column" data-id="f93a35d" data-element_type="column">
                                    <div class="elementor-column-wrap">
                                        <div class="elementor-widget-wrap">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="elementor-element elementor-element-089668f elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="089668f" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                                <div class="elementor-element elementor-element-371cd03 elementor-column elementor-col-100 elementor-top-column" data-id="371cd03" data-element_type="column">
                                    <div class="elementor-column-wrap  elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-a886192 elementor-widget elementor-widget-heading" data-id="a886192" data-element_type="widget" data-widget_type="heading.default">
                                                <div class="elementor-widget-container">
                                                    <h6 class="elementor-heading-title elementor-size-default">Descrição</h6>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-a43a6a0 elementor-widget elementor-widget-text-editor" data-id="a43a6a0" data-element_type="widget" data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-text-editor elementor-clearfix">Clique no botão de edição para alterar esse texto. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    
                    <section class="elementor-element elementor-element-17386ae elementor-section-height-min-height elementor-section-items-stretch elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-id="17386ae" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                                <div class="elementor-element elementor-element-c681999 elementor-column elementor-col-100 elementor-top-column" data-id="c681999" data-element_type="column">
                                    <div class="elementor-column-wrap  elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-0cebfbb elementor-tabs-view-horizontal elementor-widget elementor-widget-tabs" data-id="0cebfbb" data-element_type="widget" data-widget_type="tabs.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-tabs" role="tablist">
                                                        <div class="elementor-tabs-wrapper">
                                                            <div id="elementor-tab-title-1351" class="elementor-tab-title elementor-tab-desktop-title" data-tab="1" role="tab" aria-controls="elementor-tab-content-1351"><a href="">Comentários</a></div>
                                                            <div id="elementor-tab-title-1352" class="elementor-tab-title elementor-tab-desktop-title" data-tab="2" role="tab" aria-controls="elementor-tab-content-1352"><a href="">Anexos</a></div>
                                                        </div>
                                                        <div class="elementor-tabs-content-wrapper">
                                                            <div class="elementor-tab-title elementor-tab-mobile-title" data-tab="1" role="tab">Comentários</div>
                                                            <div id="elementor-tab-content-1351" class="elementor-tab-content elementor-clearfix" data-tab="1" role="tabpanel" aria-labelledby="elementor-tab-title-1351">Clique no botão de edição para alterar esse texto. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</div>
                                                            <div class="elementor-tab-title elementor-tab-mobile-title" data-tab="2" role="tab">Anexos</div>
                                                            <div id="elementor-tab-content-1352" class="elementor-tab-content elementor-clearfix" data-tab="2" role="tabpanel" aria-labelledby="elementor-tab-title-1352">Clique no botão de edição para alterar esse texto. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="elementor-element elementor-element-dac543e elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="dac543e" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                                <div class="elementor-element elementor-element-d9a5d7e elementor-column elementor-col-16 elementor-top-column" data-id="d9a5d7e" data-element_type="column">
                                    <div class="elementor-column-wrap  elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-315267f elementor-widget elementor-widget-image" data-id="315267f" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-image">
                                                        <img src="http://mteixeira.hospedagemdesites.ws/tutorialWP/wp-content/plugins/elementor/assets/images/placeholder.png" title="" alt="">											
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-3ff49f1 elementor-column elementor-col-66 elementor-top-column" data-id="3ff49f1" data-element_type="column">
                                    <div class="elementor-column-wrap  elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-0ccea1c elementor-widget elementor-widget-text-editor" data-id="0ccea1c" data-element_type="widget" data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-text-editor elementor-clearfix">Clique no botão de edição para alterar esse texto. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-1185bde elementor-column elementor-col-16 elementor-top-column" data-id="1185bde" data-element_type="column">
                                    <div class="elementor-column-wrap  elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-9ba77d4 elementor-widget elementor-widget-image" data-id="9ba77d4" data-element_type="widget" data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-image">
                                                        <img src="http://mteixeira.hospedagemdesites.ws/tutorialWP/wp-content/plugins/elementor/assets/images/placeholder.png" title="" alt="">											
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!-- .post-content -->
    <div class="row post-meta post-meta-footer align-items-top">
        <div class="col">
            <svg class="icon icon-category" aria-hidden="true" role="img">
                <use xlink:href="http://mteixeira.hospedagemdesites.ws/tutorialWP/wp-content/themes/evolve/assets/images/icons.svg#icon-category"></use>
            </svg>
            <a href="http://mteixeira.hospedagemdesites.ws/tutorialWP/category/uncategorized/" rel="category tag">Uncategorized</a>
        </div>
        <!-- .col -->
        <div class="col-md-6 ml-auto">
            <div class="share-this">
                <a rel="nofollow" data-toggle="tooltip" data-placement="bottom" title="" target="_blank" href="http://twitter.com/intent/tweet?status=Elementor #226+»+http://mteixeira.hospedagemdesites.ws/tutorialWP/?p=226" data-original-title="Compartilhar no Twitter">
                    <svg class="icon icon-twitter" aria-hidden="true" role="img">
                        <use xlink:href="http://mteixeira.hospedagemdesites.ws/tutorialWP/wp-content/themes/evolve/assets/images/icons.svg#icon-twitter"></use>
                    </svg>
                </a>
                <a rel="nofollow" data-toggle="tooltip" data-placement="bottom" title="" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=http://mteixeira.hospedagemdesites.ws/tutorialWP/?p=226&amp;t=Elementor #226" data-original-title="Compartilhar no Facebook">
                    <svg class="icon icon-facebook" aria-hidden="true" role="img">
                        <use xlink:href="http://mteixeira.hospedagemdesites.ws/tutorialWP/wp-content/themes/evolve/assets/images/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
                <a rel="nofollow" data-toggle="tooltip" data-placement="bottom" title="" target="_blank" href="https://plus.google.com/share?url=http://mteixeira.hospedagemdesites.ws/tutorialWP/?p=226" data-original-title="Compartilhar no Google Plus">
                    <svg class="icon icon-google-plus" aria-hidden="true" role="img">
                        <use xlink:href="http://mteixeira.hospedagemdesites.ws/tutorialWP/wp-content/themes/evolve/assets/images/icons.svg#icon-google-plus"></use>
                    </svg>
                </a>
                <a rel="nofollow" data-toggle="tooltip" data-placement="bottom" title="" target="_blank" href="http://pinterest.com/pin/create/button/?url=http://mteixeira.hospedagemdesites.ws/tutorialWP/?p=226&amp;media=http://mteixeira.hospedagemdesites.ws/tutorialWP/wp-content/themes/evolve/assets/images/no-thumbnail-post.jpg&amp;description=Elementor #226" data-original-title="Compartilhar no 
                    Pinterest">
                    <svg class="icon icon-pinterest" aria-hidden="true" role="img">
                        <use xlink:href="http://mteixeira.hospedagemdesites.ws/tutorialWP/wp-content/themes/evolve/assets/images/icons.svg#icon-pinterest"></use>
                    </svg>
                </a>
                <a rel="nofollow" data-toggle="tooltip" data-placement="bottom" title="" target="_blank" href="http://www.addtoany.com/email?linkurl=http://mteixeira.hospedagemdesites.ws/tutorialWP/?p=226&amp;linkname=Elementor #226" data-original-title="Compartilhar por E-mail">
                    <svg class="icon icon-email" aria-hidden="true" role="img">
                        <use xlink:href="http://mteixeira.hospedagemdesites.ws/tutorialWP/wp-content/themes/evolve/assets/images/icons.svg#icon-email"></use>
                    </svg>
                </a>
                <a rel="nofollow" data-toggle="tooltip" data-placement="bottom" title="" target="_blank" href="http://www.addtoany.com/share_save#url=http://mteixeira.hospedagemdesites.ws/tutorialWP/?p=226&amp;linkname=Elementor #226" data-original-title="Mais Opções">
                    <svg class="icon icon-more" aria-hidden="true" role="img">
                        <use xlink:href="http://mteixeira.hospedagemdesites.ws/tutorialWP/wp-content/themes/evolve/assets/images/icons.svg#icon-more"></use>
                    </svg>
                </a>
            </div>
            <!-- .share-this -->
        </div>
        <!-- .col -->
    </div>
    <!-- .row .post-meta .post-meta-footer .align-items-top -->
</article>
