{% for message in messages %}
            
    {% if message.user1  == message.usuario_enviado %}
        <div class="outgoing_msg">
            <div class="sent_msg">
                <p>{{message.message_text}}</p>
                <span class="time_date">{{message.ts_enviada|date("h:i    |    M d") }} {#11:01 AM    |    June 9#}</span> </div>
            </div>
            {% else  %}
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>{{message.message_text}}</p>
                  <span class="time_date">{#{message.ts_enviada|date("h:i    |    M d") }#}11:01 AM    |    June 9</span></div>
              </div>
            </div>
          
    {% endif  %}
{% endfor %}
